/* it is being applied on each image */
img{
    width: 100%;
    height: 100%;
}

.row{
    /* width: 100%; */
    height: 400px;
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    border: 2px solid chartreuse;

}
/* selects all div where parent element is .secon-one */
.second-row > div{
    flex: 1;
}

.second-row-third-container{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.second-row-third-container div{
    height: calc(50% - 5px/2);
    
}